<?xml version="1.0" encoding="utf-8"?>

<widget xmlns ="http://www.w3.org/ns/widgets"
   xmlns:gap ="http://phonegab.com/ns/1.0"
   id ="com.phonegab.example6"
   version ="1.0.0">
   
   <name>App6 batalla del 5 de Mayo</name>
   
   <description>
    Aplicacion que muestra informacion sobre la battala del 5 de mayo
   </description>
   
   <author href="https://build.phonegab.com" email="alexis.ortega.hdz@gmail.com">
    Mario Alexis Ortega Hernandez
   </author>
   
   <!--Personaliza la aplicacion y plataforma -->
   <preference name="orientation" value="default"/>
   <!--<preference name="orientation" value="portrait"/>
   <preference name="orientation" value="landscape"/>-->
   <preference name="target-device" value="universal"/>
   <preference name="fullscreen" value="true"/>
   <preference name="andriod-installLocation" value="auto"/>
   <preference name="permissions" value="INTERNET"/>
   
   <!-- Plugins -->	
   <!-- Core plugins -->
<plugin name="cordova-plugin-device" spec="~1.1.4"/>
<plugin name="cordova-plugin-vibration" spec="~2.1.3"/>
<plugin name="cordova-plugin-dialogs" spec="~1.3.1"/>

<!-- <plugin name="cordova-plugin-geolocation" source="npm"/> -->
   <!-- Third part plugins -->
   
      <!-- Para accesar a paginas de internet -->
   <allow-intent href="https://*/*"/>
   <acces origin="https://*/*"/>
   <allow-intent href="http://*/*"/>
   <acces origin="http://*/*"/>
   <plugin name="cordova-plugin-whitelist" source="npm"/>
   
   <!-- Colocar icono app -->
   
<icon src="res/android/mdpi.png"/>

</widget>